<div class="alert">
  <a class="close" data-dismiss="alert" data-id="<%= @aviso.id %>" data-user="<%= current_usuario.id %>">×</a>
  <strong>Aviso!</strong>

  <p>
    <%= @aviso.corpo %>
  </p>
</div>